.navbar {
  background-color: ;
}
.fixed {
  position: fixed;
}
.centro {
  text-align: center;
}
.jumbotron {
  background-image: url("img/portada1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 84vh;
  position: relative;
  top: 10vh;
}
.hero-boton {
  position: relative;
  top: 40vh;
}
.hero-text {
  position: relative;
  top: 39vh;
}
.card {
  width: 18rem;
}
.blog-title {
  margin-top: 150px;
}

.card-blog {
  width: 30rem;
}
.rrss {
  width: 80px;
}
