.navbar {
  background-color: ;
}
.fixed {
  position: fixed;
}

.jumbotron {
  background-image: url("img/portada1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 84vh;
}
.hero-boton {
  position: relative;
  top: 40vh;
}
.hero-text {
  position: relative;
  top: 39vh;
}
.card {
  width: 18rem;
}
